﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="PersonsApp">
    <div class="container">
        <div class="col-md-12">
            <form ng-controller="editFormController" ng-model="person">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input class="form-control" ng-model="person.FirstName" ng-init="person.FirstName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input class="form-control" ng-model="person.LastName" ng-init="person.LastName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input class="form-control" ng-model="person.UserName" ng-init="person.UserName" />
                    </div>
                </div>
                <input type="button" class="btn btn-primary" value="Save" ng-click="save(person)"/>
                <input type="button" class="btn btn-danger"  value="Back" ng-click="back()"/>
            </form>
        </div>
    </div>
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/app/peopleApp.js"></script>
    <script src="/app/peopleFactory.js"></script>
    <script src="/app/editFormController.js"></script>
</body>
</html>
