﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="Content/please-wait.css" rel="stylesheet" />
    <script src="app/Loading/please-wait.min.js"></script>
    <link href="Content/Spins.css" rel="stylesheet" />
    <script type="text/javascript">
        window.loading_screen = window.pleaseWait({
            backgroundColor: '#f46d3b',
            loadingHtml: "<p class='loading-message'>A good day to you fine user!</p>"
        });
    </script>
</head>
<body ng-app="PersonsApp">
    <div ng-controller="personController" class="container">
       <div class="col-md-12">
           <h2 class="page-header">Users List</h2>
           <table class="table table-bordered table-striped table-condensed">
               <tr>
                   <th><a href="#" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse">First Name</a></th>
                   <th><a href="#" ng-click="sortType = 'LastName'; sortReverse = !sortReverse">Last Name</a></th>
                   <th><a href="#" ng-click="sortType = 'UserName'; sortReverse = !sortReverse">User Name</a></th>
                   <th>Action</th>
               </tr>
               <tr>
                   <td>
                       <input ng-model="searchText" />
                   </td>
                   <td>
                       <input ng-model="searchField"/>
                   </td>
               </tr>
               <tr ng-repeat="person in people | orderBy:sortType:sortReverse |filter:{ FirstName:searchText, LastName:searchField }">
                   <td>
                       {{person.FirstName }}
                       <input type="hidden" value="{{person.Id}}" id="entryId" />
                   </td>
                   <td>
                       {{person.LastName}}
                   </td>
                   <td>
                       {{person.UserName}}
                   </td>
                   <td>
                       <input type="button" value="Edit" class="btn btn-primary" ng-click="getPerson(person.Id)" />
                       <input type="button" value="View" class="btn btn-success" ng-click="viewPerson(person.Id)" />
                       <input type="button" value="Delete" class="btn btn-danger" ng-click="delete(person.Id, $index)" />
                   </td>
               </tr>
           </table>
       </div>
    </div>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="/app/peopleApp.js"></script>
    <script src="/app/peopleFactory.js"></script>
    <script src="/app/peopleController.js"></script>
</body>
</html>
