﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body ng-app="PeopleApp">
    Hello, World!
    <div ng-controller="peopleController">
        <table>
            <tr ng-repeat="person in people">
                {{person.FirstName}}
                {{person.LastName}}
                {{person.UserName}}
            </tr>
        </table>
    </div>
    <script src="/Scripts/angular.js"></script>
    <script src="/app/peopleApp.js"></script>
    <script src="/app/peopleFactory.js"></script>
    <script src="/app/peopleController.js"></script>
</body>
</html>
